body { font-family: "PT Serif"; }

#container {
	width: 1024px;
	margin: 0 auto;
}

h1 {
	font-weight: 300;
	font-size: 50px;
	color: "black";
	letter-spacing: 1px;
	margin: 39px 100px 39px 120px;
	color: #611417;
}

.caps {
	font-size: 100px;
	font-weight: 400;
	line-height: 70px;
	margin: 5px 10px 0 0;
	float: left;
	color: #611417;
}

p {
	color: "dark green";
	font-size: 17px;
	line-height: 28px;
	font-weight: 300;
	margin: 0 0 39px 0;
}

.hero-image img{
	width: 1024px;
	height: 406px;
	margin-top: 20px;
}

.promo-images {
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	margin: 0;
	padding: 0;
}

.traa h2 {
	color: #611417;
	font-size: 25px;
	margin: 39px 0 0 0;
}

.special {
	font-size: 40px;
	border: solid;
}

.space {
	padding-left: 5px;
}

.first {
	flex-direction: row;
	justify-content: space-between;
	float: right;
}

.first img {
	width: 430px;
	height: 247px;
	margin: 0 80px 39px 0;
}

.trout h2 {
	font-size: 25px;
	color: #611417;
}

.trout p {
	margin: 39px 0 39px 0;
}

.copy {
	float: right;
}